* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    margin-left: 30px;
}

body {
    background-color:#ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.title{
margin-top: 40px;
font-size: 30px;

}
.caixa {
    background-color: #ffffff;
    width: 600px;
    border: #CCCCCC 1px solid;
    border-radius: 15px;
    padding: 10px;


}


.rotulo {
    display: block;
    font-size: 25px;
    margin-top: 10px;
    padding-bottom: 5px;
    
}

.campo {
    width: 80%;
    font-size: 18px;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid #d8d8d8;

}

.botao{
    padding-left: 130px;
}

button {
    background-color: #CCCCCC;
    color: #2e2d2d;
    font-size: 16px;
    width: 30%;
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none; /* Remove a borda preta */
    display: inline-block; /* Permite centralizar dentro do contêiner */
}

